@model ProjetFilRouge.Models.Utilisateur
@{
    ViewData["Title"] = "SignIn";

    var validateMessage = ViewData["ValidateMessage"]?.ToString();
}

<main>
    <section class="authentification | padding-block-900">
        <div class="container">
            <!-- FORM CONTENT -->
            <div class="auth-box even-columns" id="auth-container">
                <div class="left-panel">
                    <h1 class="fs-primary-heading">Hello !</h1>
                    <p>
                        ...
                        
                    </p>
                </div>
                <div class="right-panel">
                    <!-- SignIn Form -->
                    <div class="form login-form" id="formlogin">
                        <form asp-action="SignIn" asp-controller="Access" method="post">
                            @Html.AntiForgeryToken()

                            <label asp-for="email" class="visually-hidden"></label>
                            <input asp-for="email" placeholder="Email" />
                            <span asp-validation-for="email" class="text-danger"></span>

                            <label asp-for="password" class="visually-hidden"></label>
                            <input asp-for="password" placeholder="Password" />
                            <span asp-validation-for="password" class="text-danger"></span>

                            <button type="submit">Sign In</button>
                            <div class="social-login">
                                <button type="button">Google</button>
                                <button type="button">Facebook</button>
                            </div>
                        </form>
                    </div>   
                </div>
            </div>
            <!-- END FORM CONTENT-->
        </div>
    </section>
</main>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
