@model ProjetFilRouge.Models.Utilisateur
@{
    ViewData["Title"] = "SignUp";
    var validateMessage = ViewData["ValidateMessage"]?.ToString();
}

<main>
    <section class="authentification | padding-block-900">
        <div class="container">
            <!-- FORM CONTENT -->
            <div class="auth-box even-columns" id="auth-container">
                <div class="left-panel">
                    <h1 class="fs-primary-heading">Create an Account</h1>
                    <p>
                        ...
                    </p>


                    @if (!string.IsNullOrEmpty(validateMessage))
                    {
                        <div class="validation-message">@validateMessage</div>
                    }
                </div>

                <div class="right-panel">

                    <!-- SignUp Form -->
                    <div class="form signup-form" id="formsignup">
                        <form asp-action="SignUp" method="post">
                            @Html.AntiForgeryToken()

                            <label asp-for="username" class="visually-hidden"></label>
                            <input asp-for="username" placeholder="Username" />
                            <span asp-validation-for="username" class="text-danger"></span>

                            <label asp-for="email" class="visually-hidden"></label>
                            <input asp-for="email" placeholder="Email" />
                            <span asp-validation-for="email" class="text-danger"></span>

                            <label asp-for="password" class="visually-hidden"></label>
                            <input asp-for="password" type="password" id="signup-password" placeholder="Password" />
                            <span asp-validation-for="password" class="text-danger"></span>

                            <label for="signup-confirm-password" class="visually-hidden">Confirm Password</label>
                            <input type="password" id="signup-confirm-password" placeholder="Confirm Password" />
                            <span id="password-match-message" class="text-danger"></span>

                            <button type="submit">Sign Up</button>
                            <div class="social-login">
                                <button type="button">Google</button>
                                <button type="button">Facebook</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- END FORM CONTENT-->
        </div>
    </section>
</main>