@if (ViewData["ValidateMessage"] != null)
{
    <div class="alert alert-info">
        @ViewData["ValidateMessage"]
    </div>

    <script>
        // Redirection automatique après 3 secondes
        setTimeout(function () {
            window.location.href = '@Url.Action("SignIn", "Access")';
        }, 3000);
    </script>
}