@using System.Security.Claims
@{
    Layout = null; // C'est le layout principal
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="" />
    <title>@ViewBag.Title - Nivo</title>

    <link rel="stylesheet" href="~/assets/css/style.css" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
          rel="stylesheet" />
</head>
<body>
    <header class="primary-header">
        <div class="container">
            <partial name="_CookieConsentPartial" />
            <div class="nav-wrapper">
                <a href="~/" id="logo">
                    <div id="logo | fw-bold">
                        NIVO - The Gaming Bar
                    </div>
                </a>

                <label for="recherche" class="visually-hidden">Recherche</label><input type="text" id="recherche" placeholder="Recherche">
                <div id="affichageRecherche"></div>

                <button class="mobile-nav-toggle"
                        aria-controls="primary-navigation"
                        aria-expanded="false">
 <!-- suppression des images -->
                    <span class="visually-hidden">Menu</span>
                </button>
                <nav class="primary-navigation" id="primary-navigation">
                    <ul aria-label="Primary" role="list" class="nav-list">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Jeux" asp-action="Index">Games</a></li>
                        <li><a asp-controller="Events" asp-action="Index">Events</a></li> <!-- page non existante mais possiblement intégrée si j'ai le temps.-->
                        <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                         @* Liens pour les boutons : Connexion, Inscription, Deconnexion *@
                        @if(!User.Identity.IsAuthenticated)
                        {
                            <li><a asp-controller="Access" asp-action="SignUp">Sign Up</a></li>
                            <li><a asp-controller="Access" asp-action="SignIn">Sign In</a></li>
                        }
                        else
                        {
                            <li><a asp-controller="Access" asp-action="SignOut">Sign Out</a></li>
                            <li>@User.FindFirstValue(ClaimTypes.Name)</li>
                        }

                    </ul>

                </nav>
            </div>
        </div>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer class="primary-footer | padding-block-700">
        <div class="container">
            <nav class="footer-nav">
                <ul aria-label="Footer" role="list">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Jeux" asp-action="Index">Games</a></li>
                    <li><a asp-controller="Events" asp-action="Index">Events</a></li> <!-- page non existante mais possiblement intégrée si j'ai le temps.-->
                    <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                    <li><a asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                </ul>
            </nav>
        </div>
    </footer>
    <div class="end-footer">
        <p class="primary-footer__copyright">
            Nivo Ltd. <br />Copyright @DateTime.Now.Year. All Rights Reserved
        </p>
    </div>

    <script src="~/assets/js/main.js" defer></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
