@model Jeu// la vue s'attend à recevoir le détail d'un jeu
<h1>Detail du jeu</h1>
<div>
    <p>ID: @Model.JeuId </p>
    <p>Titre: @Model.Titre </p>
    <p>Description: @Model.Description </p>
    <p>Date d'ajout: @Model.DateAjout </p>
</div>