
@model List<Jeu>
@{
    ViewData["Title"] = "Catalogue des Jeux";
}
<main>
    <section class="game-gallery | padding-block-900">
        <h1 class="fs-primary-heading text-center margin-bottom-700">
            Catalogue des Jeux
        </h1>
        <div class="container">
            <div class="even-columns">
                <div class="game-card">
                    <a asp-controller="Jeux" asp-action="Detail" asp-route-id="" class="card-btn" alt="Voir détails du jeu">
                        <span class="material-icons">arrow_forward</span>
                        <span class="btn-text">Voir détail</span>
                    </a>
                    <div class="card-img">
                        <img src="~/pfr_images/jeux/pandemic.jpg" alt="vignette du Jeu" />
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Pandemic</h3>
                        <div class="card-text">
                            <p>
                                Dans Pandemic, sauvez la planète avant que les épidémies ne
                                prennent le dessus ! Un très bon jeu de coopération,
                                équilibré et bien pensé niveau gameplay. Un super jeu qui
                                mérite bien ses récompenses.
                            </p>
                            <ul>
                                <li><strong>Joueurs : 4</strong></li>
                                <li><strong>Durée : 12 </strong></li>
                                <li><strong>Ajouté le : 12/07/2025 </strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end card : game 1 -->
                <div class="game-card">
                    <a href="#" class="card-btn">
                        <span class="material-icons">arrow_forward</span>
                        <span class="btn-text">Voir détail</span>
                    </a>
                    <div class="card-img">
                        <img src="" alt="" />
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Game Title</h3>
                        <div class="card-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Curabitur magna risus, aliquam vitae sem at, facilisis
                                gravida ex. Sed luctus, urna eu placerat ullamcorper, ex
                                urna luctus velit, sit amet aliquet dui mi ac erat.
                            </p>
                            <ul>
                                <li><strong>Joueurs : </strong></li>
                                <li><strong>Durée :</strong></li>
                                <li><strong>Ajouté le :</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end card : game 2 -->
                <div class="game-card">
                    <a href="#" class="card-btn">
                        <span class="material-icons">arrow_forward</span>
                        <span class="btn-text">Voir détail</span>
                    </a>
                    <div class="card-img">
                        <img src="" alt="" />
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Game Title</h3>
                        <div class="card-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Curabitur magna risus, aliquam vitae sem at, facilisis
                                gravida ex. Sed luctus, urna eu placerat ullamcorper, ex
                                urna luctus velit, sit amet aliquet dui mi ac erat.
                            </p>
                            <ul>
                                <li><strong>Joueurs : </strong></li>
                                <li><strong>Durée :</strong></li>
                                <li><strong>Ajouté le :</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end card : game 3 -->
                <div class="game-card">
                    <a href="#" class="card-btn">
                        <span class="material-icons">arrow_forward</span>
                        <span class="btn-text">Voir détail</span>
                    </a>
                    <div class="card-img">
                        <img src="" alt="" />
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Game Title</h3>
                        <div class="card-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Curabitur magna risus, aliquam vitae sem at, facilisis
                                gravida ex. Sed luctus, urna eu placerat ullamcorper, ex
                                urna luctus velit, sit amet aliquet dui mi ac erat.
                            </p>
                            <ul>
                                <li><strong>Joueurs : </strong></li>
                                <li><strong>Durée :</strong></li>
                                <li><strong>Ajouté le :</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end card : game 4 -->
                <div class="game-card">
                    <a href="#" class="card-btn">
                        <span class="material-icons">arrow_forward</span>
                        <span class="btn-text">Voir détail</span>
                    </a>
                    <div class="card-img">
                        <img src="" alt="" />
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Game Title</h3>
                        <div class="card-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Curabitur magna risus, aliquam vitae sem at, facilisis
                                gravida ex. Sed luctus, urna eu placerat ullamcorper, ex
                                urna luctus velit, sit amet aliquet dui mi ac erat.
                            </p>
                            <ul>
                                <li><strong>Joueurs : </strong></li>
                                <li><strong>Durée :</strong></li>
                                <li><strong>Ajouté le :</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end card : game 5 -->
                <div class="game-card">
                    <a href="#" class="card-btn">
                        <span class="material-icons">arrow_forward</span>
                        <span class="btn-text">Voir détail</span>
                    </a>
                    <div class="card-img">
                        <img src="" alt="" />
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Game Title</h3>
                        <div class="card-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Curabitur magna risus, aliquam vitae sem at, facilisis
                                gravida ex. Sed luctus, urna eu placerat ullamcorper, ex
                                urna luctus velit, sit amet aliquet dui mi ac erat.
                            </p>
                            <ul>
                                <li><strong>Joueurs : </strong></li>
                                <li><strong>Durée :</strong></li>
                                <li><strong>Ajouté le :</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end card : game 6 -->
                <div class="game-card">
                    <a href="#" class="card-btn">
                        <span class="material-icons">arrow_forward</span>
                        <span class="btn-text">Voir détail</span>
                    </a>
                    <div class="card-img">
                        <img src="" alt="" />
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Game Title</h3>
                        <div class="card-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Curabitur magna risus, aliquam vitae sem at, facilisis
                                gravida ex. Sed luctus, urna eu placerat ullamcorper, ex
                                urna luctus velit, sit amet aliquet dui mi ac erat.
                            </p>
                            <ul>
                                <li><strong>Joueurs : </strong></li>
                                <li><strong>Durée :</strong></li>
                                <li><strong>Ajouté le :</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end card : game 7 -->
                <div class="game-card">
                    <a href="#" class="card-btn">
                        <span class="material-icons">arrow_forward</span>
                        <span class="btn-text">Voir détail</span>
                    </a>
                    <div class="card-img">
                        <img src="" alt="" />
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Game Title</h3>
                        <div class="card-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Curabitur magna risus, aliquam vitae sem at, facilisis
                                gravida ex. Sed luctus, urna eu placerat ullamcorper, ex
                                urna luctus velit, sit amet aliquet dui mi ac erat.
                            </p>
                            <ul>
                                <li><strong>Joueurs : </strong></li>
                                <li><strong>Durée :</strong></li>
                                <li><strong>Ajouté le :</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end card : game 8 -->
                <div class="game-card">
                    <a href="#" class="card-btn">
                        <span class="material-icons">arrow_forward</span>
                        <span class="btn-text">Voir détail</span>
                    </a>
                    <div class="card-img">
                        <img src="" alt="" />
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Game Title</h3>
                        <div class="card-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Curabitur magna risus, aliquam vitae sem at, facilisis
                                gravida ex. Sed luctus, urna eu placerat ullamcorper, ex
                                urna luctus velit, sit amet aliquet dui mi ac erat.
                            </p>
                            <ul>
                                <li><strong>Joueurs : </strong></li>
                                <li><strong>Durée :</strong></li>
                                <li><strong>Ajouté le :</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end card : game 9 -->
            </div>
            <div class="pagination">
                <button class="page-btn prev button" disabled>Previous</button>
                <div class="page-numbers"></div>
                <button class="page-btn next button">Next</button>
            </div>
        </div>
    </section>
</main>
